Django<4  # Need to replace ``url`` with ``path``
django_extensions
django_prometheus
django-sentry-400-middleware
drf_amsterdam
prometheus_client
psycopg2
pyhumps
python-dateutil
sentry-sdk
xmltodict
datapunt_data_ingress
